@media screen and (max-width: 1024px) {
    .eResponsive_container {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 'left principal principal principal'
                             'left principal__Two principal__Two principal__Two';
    }
    .eResponsive_container__DatosLibro {
        grid-area: left;
    }
    .eResponsive_container__DescripcionLibro {
        grid-area: principal;
    }
    .eResponsive_container__ContenidoLibro {
        grid-area: principal__Two;
    }
    .eResponsive_container__ContenidoLibro ul {
        display: flex;
        padding: 0;
    }
    .eResponsive_container__ContenidoLibro li {
        flex: 1;
        list-style: none;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .eResponsive_container {
        grid-template-columns: 1fr;
        grid-template-areas: 'principal'
                             'principal__Two'
                             'principal__Three';
    }
    .eResponsive_header__title {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        text-align: left;
    }
    .eResponsive_h2 {
        margin-top: 0;
    }
    .eResponsive_container__DatosLibro {
        grid-area: principal;
    }
    .eResponsive_container__DescripcionLibro {
        grid-area: principal__Two;
    }
    .eResponsive_container__ContenidoLibro {
        grid-area: principal__Three;
    }
    .eResponsive_container__DatosLibro ul {
        padding: 0;
        margin: 0;
    }
    .eResponsive_container__DatosLibro li {
        list-style: none;
        display: inline;
    }
    .eResponsive_container__ContenidoLibro ul {
        display: block;
        padding-left: 30px;
    }
    .eResponsive_container__ContenidoLibro li {
        list-style: disc;
    }
}