@import './components/mediaQuery/MediaQuery.css';

body {
    margin: 0;
}
.tNYT_main {
    padding-bottom: 20px;
}
.tNYT_container {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template: auto auto 1fr / 1fr;
    margin: 0 10%;
    margin-bottom: 20px;
}
.tNYT_h1,
.tNYT_h2,
.tNYT_h3,
.tNYT_h4 {
    margin: 0;
    text-align: center;
}
.tNYT_hr {

}