.tNYT_pincipal__left hr {
    width: 60%;
    border: 1px solid #000;
    margin: 10px auto;
}
.tNYT_pincipal__left h1 {
    font-size: 1.6em;
}
.tNYT_pincipal__left h2,
.tNYT_pincipal__left h3 {
    font-size: 1.3em;
}
.tNYT_pincipal__left h4 {
    font-size: .7em;
    padding-top: 10px;
}
.tNYT_pincipal__left p {
    text-align: justify;
}