*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.eResponsive_main {
    width: 100%;
}
.eResponsive_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}
.eResponsive_section {    
    padding: 10px;
}
.eResponsive_p,
.eResponsive_li {
    font-size: .9em;
}
.eResponsive_p {
    margin: 15px 0;
}
.eResponsive_h2 {
    margin: 20px auto;
    text-align: left;
}
.eResponsive_header__title {
    margin: 20px auto;
    text-align: center;
}
.eResponsive_container__DatosLibro {
    min-width: 250px;
}